[Unit]
Description=sticker-box back-end
After=network.target

[Service]
WorkingDirectory=/root/sticker-box
ExecStart=/usr/bin/node main.js
Environment=NODE_ENV=production
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target